*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

footer section{
    background-color: rgb(19, 19, 19);
    color: white;
}

.display_flex{
    display: flex;
}

.space_between{
    justify-content: space-between;
}

.align_items_center{
    align-items: center;
}

/* header style */

header{
    color: white;
    position: fixed ;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

header section{
    background-color: rgb(255, 111, 0);
}

header .container{
    width: 80%;
    margin: 0 auto;
    height: 50px;
}

header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.col.search a{
    margin-right: 10px;
}


.logo{
    height: 24px;
    vertical-align: bottom;

}

a{
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.menu_icon{
    height: 12px;
}

/* FINE HEADER */

/* MAIN COSE */
main{
    margin-top: 100px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

main .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main .row::after {
    content: "";
    display: table;
    clear: both;
}


.col_card{
    min-width: 210px;
    width: calc(100% / 3 - 10px);
    margin: 5px 5px 30px 5px;
    position: relative;
    float: left;
}

.card{
    width: 100%;
    position: relative;
}

.card_2{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.col_card:hover .card_2{
    display: inline;
}

.like_box{
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    z-index: 1;
    min-height: 24px;
    min-width: 24px;
    height: 8%;
    width: 12.5%;
    max-height: 64px;
    max-width: 64px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.heart{
    align-self: center;
    height: 50%;
    width: 50%;
}

.labeles{
    position: absolute;
    top: -115%;
    left: 0px;
    display: inline-block;
}

label{
    padding: 3px 5px;
    color: white;
    font-weight:600;
    font-size: 13px;
}

.discount{
    background-color: red;
}

.sostenibilita{
    position: relative;
    background-color: green;
}

.descrizione{
    position: relative;
    top: 0;
    left: 0;
}

.marca{
    font-size: 12px;
}

.nome{
    font-weight: bold;
}

.prezzo>div{
    font-size: 12px;
    display: inline-block;
}

.prezzo_attuale{
    font-weight: bold;
    color: red;
}

.prezzo_precedente{
    text-decoration: line-through;
}

.prezzo_attuale::after{
    content: ' \20AC';
}

.prezzo_precedente::after{
    content: ' \20AC';
}
/* FINE MAIN */

/* FOOTER SYLE */

footer a{
    text-decoration: none;
    font-size: 12px;
    margin-right: 10px;
}

footer .container{
    height: 100px;
    margin-top: 20px;
}

.icon{
    width: 24px;
}

.height_100{
    height: 100%;
}

h3, h5{
    margin-bottom: 10px;
}

.text_align_center{
    text-align: center;
}